.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 6rem;
    background:rgb(34, 34, 238)
}
.postview{
    text-decoration: none;
}

.one{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.insta-logo{
    width: 65px;
    height: 65px;
}

.insta-logo:hover{
    cursor: pointer;
}

#insta-logo{
    font-size: 4rem;
    color: rgb(81, 255, 0);
}